<h1>Editing entry</h1>
<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %> |

<a href="http://textile.thresholdstate.com/">Textile helper</a>

<%= render 'form' %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
