<h1>Editing entry</h1>
<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %> |

<a href="https://artifact.medivo.com/entries/161" target="_blank">Markup help</a>

<%= render 'form' %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
